{
    "presets": [
        "env",
        "react",
        "preact"
    ],
    "plugins": [
        [
            "transform-react-jsx",
            {
                "pragma": "preact.h"
            }
        ]
    ]
}